h1{
    text-align: center;
    font-size: 500%;
    color: aliceblue;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 200px;
    margin-right: 200px;
    background-color: black;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 5px 5px rgb(80,80,80);
    
}
 
#Short {
    text-align: center;
    font-size: 120%;
    font-style: italic;
    margin-top: 10px;
    color: rgb(13, 14, 13);
}

body{

background-image: url(https://images.unsplash.com/photo-1553356084-58ef4a67b2a7?ixid=MXwxMjA3fDB8MHxzZWFyY2h8OHx8YWJzdHJhY3QlMjBiYWNrZ3JvdW5kJTIwYmx1ZXxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
}

.image{
    margin-left: 115px;
    margin-right: 155px;
    margin-top: 35px;
    width: 1000px;
}
div{
    background-color: rgb(30,30,30);
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 30px 30px 30px 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
}
h2{
   text-align: center;
    font-size: 170%;
    color: aliceblue;
    padding-top: 5px;
    margin-top: 15px;
    padding-bottom: 5px;
    

    
}


#paragraph{
    padding-bottom: 0px;
    margin-right: 500px;
    margin-left: 500px;
    margin-top: 50px;
    
    
}
#paragraph:hover{
            box-shadow: 5px 5px rgb(80,80,80);
           
            
}

#spinner{
    margin-left: 625px;
    margin-top: 50px;
    font-size: 500%;
}

#bio{
font-weight: bolder;
font-style: normal;
text-align: justify;
font-size: 200%;
}
a:link{
color: blue;
}
a:hover{
    color: blue;
}
#achieve{
    font-size: 300%;
    color: white;
    font-weight: bolder;
    
    
    
}

#biograph{
    font-size: 300%;
    font-weight: bolder;
}

li{

margin-left: 50px;
font-size: 200%;
font-weight: 700;
}

hr{
display: block;
border-width: medium;
border-color: black;
margin-top: 1px;
margin-right: 50px;
margin-left: 50px;
}


.fa-quote-left{
            font-size: 300%;
            color: rgb(253, 253, 252);
            
}
#quote{
    font-style: italic;
    font-size: 200%;
    margin-left: 200px;
    color: rgb(43, 40, 206);
    padding-top: 20px;
}

.fa-quote-right{
            font-size: 300%;
            color: rgb(255, 253, 253);
}


#quotes{
    padding-top: 30px;
}

#quote2{
    margin-top: 30px;
    padding-top: 30px;
}
#quote3{
    margin-top: 30px;
    padding-top: 30px;
}
